body{
    margin: 100px auto;
}
.container{   
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 250,0.);
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    overflow: hidden;
}
.leftbox{
    height: 100%;
    width: 30%;
}
.pic{
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pic img{
    width: 95%;
    height: 100%;
    
}
.content{
    width: 100%;
    height: 1100px;
    background-color: rgba(1, 9, 17, 0.925);
    padding: 30PX 30px 10PX 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content .name{
    width: 100%;
    height: 70px;   
    margin-bottom: 60px;
}
.content  .name h1{
    font-size: 50px;
    color: rgba(222, 232, 235, 0.8);
    
}
.content  .name span{
    color: white;
    font-size: 50px;
   
}
.content .profile{
    margin-top: 50px;
    width: 100%;
    padding: 5px;
    height: 300px;    
    margin-bottom: 20px;
   
}
.profile,.contact h2{
    color: rgb(38, 144, 194);
    
}
.profile hr{
    border: 1px solid white;
    
}
.profile p{
    color: white;
    text-transform:initial;
}
.content .contact{
    width: 100%;
    height: 150px;
    margin-top: 50px;
    padding: 5px;
    color:white;
}
.contact hr{
    border: 1px solid white;
}
.contact tr td{
   padding: 0px 10px;
    
}
.contact td p a{
   text-decoration: none;
    color: white;
}
/* social media section start */
.content .social{
    width: 100%;
    height: 330px;
    padding-top: 40px;
}
.content .social h2{
    color: rgb(38, 144, 194);
}
.content .social hr{
    border: 1px solid white;
}
.social tr td{
    padding: 10px;
     
 }
 .social tr td p{
     color: white;
     padding: 1px;
 }
 .social td p a{
    text-decoration: none;
     color: white;
 }
 .social table tr td .fab{
     color: white;
     font-size: 50px;
 }
 .fas{
     text-decoration: none;
     color: white;
 }
 /* social media section */

                  /* Right side Design */
.rightbox{
    /* height: 100%; */
    width: 70%; 
    margin-top: 150px;
    padding: 5px 30px; 
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.leftbox, .rightbox {
    display: inline-block;
}
            /* Experience section */
.experience{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 10px;
}
.experience .top{
    width: 100%;
    height: 65px;  

}
.experience .top .icn{
    width: 50px;
    line-height: 65px;
    /* height: 100%; */
    float: left;
    font-size: 40px;
    padding: 2px;
}
.experience .top .title{
    width: 90%;
    line-height: 65px;
    /* height: 100%; */
    float: left;
}
.experience .top .title hr{
    border: 1px solid black;
}
.experience .bottom{
    width: 100%;
    height: 400px;
    /* height: 85%; */
    padding-top: 10px;
    
}
.experience .bottom tr{
    padding: 5px,0px;
}
.experience .bottom td{
    padding: 10px;
}

.experience .bottom .yer{
    /* width: 20%; */
    width: 150px;
    /* height: 10%; */
    height: 50px;
    border-right: 1px solid black;
    

} 
.experience .bottom .text{
    /* width: 80%; */
    width: 650px;
    /* height: 10%; */
    height: 50px;
   
} 
            /* Educaition Section */
.education{
    width: 100%;
    margin-top: 15px;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
}
.education .top2{   
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.education .top2 .icn2{
    width: 50px;
    height: 100%;
    font-size: 35px;
    padding: 5px;
    padding-right: 15px;
}
.education .top2 .title2{
    width: 90%;
    height: 100%;  
    padding: 5px;

}
.education .top2 .title2 hr{
    border: 1px solid black;
}
.education .bottom2 tr{
    padding: 5px,0px;
}
.education .bottom2 td{
    padding: 10px;
}

.education .bottom2 .yer2{
    width: 20%;
    height: 10%;
    padding: 15px;
    border-right: 1px solid black;
    

} 
.education .bottom2 .text2{
    width: 80%;
    height: 10%;
   
}
                     /* skil section css */
.skil{
    margin-top: 10px;
    height: 200px;
    width: 100%;
   /*  height: 25%; */
    float: left;
    margin-bottom: 10px;
}
.top3{
    width: 100%;
    height: 20%;
}
.ic3{
    width: 5%;
  padding: auto 10px;
    font-size: 35px;
    float: left;
}
.title3{
    width: 95%;
    float: left;
    padding-left: 15px;

}
.title3 hr{
    border: 1px solid black;
}
.prof_skill{
    width: 100%;
    padding: 10PX;
    float: left;

}
.leftsk{
    width: 50%;
    float: left;
    padding-right: 2px;
}
.prof_skill td{
   padding-top: 5px;

}
.prof_skill .sk{
    width: 100%;
    text-align: right;
    background-color: rgba(221, 228, 230,0.8);  

   
}
.html{
    width: 80%;
    background-color: rgb(38, 144, 194);
}
.css{
    width: 70%;
    background-color: rgb(38, 144, 194);
}
.boot{
    width: 50%;
    background-color: rgb(38, 144, 194);
}
.rightsk{
    width: 50%;
    float: left;
}
.php{
    width: 78%;
    background-color: rgb(38, 144, 194);
}
.lara{
    width: 60%;
    background-color: rgb(38, 144, 194);
}
.java{
    width: 80%;
    background-color: rgb(38, 144, 194);
}
.refrences{   
    padding-top: 30px;
    width: 100%;
    height: 250px;   
    display: flex;
    align-items: center;
    flex-direction: column;
}
.first_person{
    text-align: left;
    width: 100%;
    padding: 20px 0px 5px 20px;
    font-size: 20px;
}